:root {
    --background: #090909;
    --foreground: #fef6e8;
    --cursorColor: #fef6e8;
    --color0: #1d1f21;
    --color1: #cc3311;
    --color2: #009988;
    --color3: #ee7733;
    --color4: #0077bb;
    --color5: #ee3377;
    --color6: #33bbee;
    --color7: #dddddd;
    --color8: #bbbbbb;
    --color9: #ee6677;
    --color10: #228833;
    --color11: #ccbb44;
    --color12: #4477aa;
    --color13: #aa3377;
    --color14: #66ccee;
    --color15: #ffffff;

    --monospace-font: "PxPlus IBM VGA9", console, cursor, Monospace;
}

@font-face {
  font-family: "PxPlus IBM VGA9";
  src: url("/static/fonts/PxPlus_IBM_VGA9.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

pre, code {
  font-family: var(--monospace-font) !important;
}

.cm-s-base16-dark {
  font-family: var(--monospace-font) !important;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, #Title {
  font-family: 'Istok Web', sans-serif;
  line-height: 1;
}

.CodeMirror {
  font-family: var(--monospace-font) !important;
}

.cm-negative {
  color: var(--color1);
}
.cm-positive {
  color: var(--color10);
}

.codeline {
  background: #151515;
  color: #e0e0e0;
}
