<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{.Lesson.Title}} - {{.CurriculumName}}</title>
        <link rel="stylesheet" href="/static/lesson.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.47.0/codemirror.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.47.0/codemirror.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.47.0/theme/base16-dark.css">
        <link rel="stylesheet" href="/static/goingrogue.css">
        <link href="https://fonts.googleapis.com/css?family=Istok+Web|Open+Sans&display=swap" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.47.0/mode/go/go.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.47.0/mode/diff/diff.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.47.0/addon/runmode/runmode.min.js"></script>
        <script src="https://unpkg.com/split-grid/dist/split-grid.js"></script>
        <script src="/static/learn-it.js"></script>
    </head>
    <body>
        <section id="Menu">
            <section id="Title">
              {{.CourseName}} - {{.CurriculumName}}
            </section>
            <section id="Info">
                <a class="menu button" id="ReportBug" href="//github.com/kettek/go-learn-it/issues/new" title="Report a Bug">🐞</a>
                <a class="menu button" id="TableOfContents" href="/list">☰</a>
                <section id="TableOfContents"></section>
            </section>
        </section>
        <section id="Body" {{if not .Lesson.SourceCode}}class="Single"{{end}}>
            <section id="LessonView">
                <section id="Content">
                    <section id="ContentWrapper">
                        {{.Lesson.HTMLContent}}
                    </section>
                </section>
                <section id="Navigation">
                    <a id="PreviousLesson" href="{{dec .LessonIndex}}">
                    &lt;
                    </a>
                    {{.LessonIndex}}/{{.LessonsCount}}
                    <a id="NextLesson" href="{{inc .LessonIndex}}">&gt;</a> 
                    </a>
                </section>
            </section>
            {{if .Lesson.SourceCode}}
            <section id="EditorView">
                <section id="Code">
                    <textarea id="Editor" language-{{.Lesson.Language}}">{{.Lesson.SourceCode}}</textarea>
                </section>
                <section id="Output">
                    <section id="Controls">
                    </section>
                    <pre id="OutputPre"></pre>
                </section>
                <div id="EditorHandle"></div>
            </section>
            {{end}}
            <div id="BodyHandle"></div>
            <script>
                Split({
                    columnGutters: [
                        {
                            track: 1,
                            element: document.getElementById("BodyHandle"),
                        },
                    ],
                    rowGutters: [
                        {
                            track: 1,
                            element: document.getElementById("EditorHandle"),
                        },
                    ]
                })
            </script>
        </section>
    </body>
</html>
